.container {
    padding: 2rem;
    background-color: #f8f9fa;
    margin-top: 50px;
    max-width: 1200px;
    margin: 100px auto;
}

.heroSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    gap: 2rem;
}

.heroText {
    flex: 1;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    color: #343a40;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .heroSection {
        flex-direction: column;
        text-align: center;
    }
    .title {
        font-size: 2.5rem;
    }
    
}
@media screen and (max-width: 592px) {
    .heroSection {
        flex-direction: column;
        text-align: center;
    }
    .title {
        font-size: 2rem;
    }
    
}

.label {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--website-color);
    font-size: 1.2rem;
    font-family: var(--main-font);
    font-weight: 500;
    margin-bottom: 10px;
}

.description {
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 30px;
}

.heroImage {
    flex: 1;
    text-align: center;
}

.form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.formGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .formGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.fullWidth {
    grid-column: 1 / -1;
}

.mixedGroup {
    margin-bottom: 1rem;
}

.CheckboxContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.button {
    background-color: #007bff;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 1rem;
}

.button:hover {
    background-color: #0056b3;
}

.button:disabled {
    background-color: #405266;
    cursor: not-allowed;
}