.About {
	min-height: 100dvh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.About h2 {
	font-size: 55px;
	font-family: var(--main-font), sans-serif;
	color: var(--website-color);
	text-align: center;
	margin-bottom: 50px;
	margin-top: 30px;
	text-transform: uppercase;
}

.AboutCards{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 20px;
}

.AboutStatic{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

@media screen and (max-width: 1024px){
	.About h2 {
		font-size: 40px;
	}

}

@media screen and (max-width: 768px) {
	.AboutStatic {
		flex-direction: column;
	}
}