/* HERO */
.Hero {
	background-image: url("../assets/hero_background_copy.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	min-height: 100svh;
}

.Hero_img {
	margin-bottom: 20px;
}

.Hero_paragraph {
	font-family: var(--secondary-font);
	font-size: 24px;
	color: var(--inactive-color);
}

.Store_buttons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	gap: 20px;
}


:global(html[lang="ar"]) .Hero {
	background-image: url("../assets/hero_background_copy.png");}


@media (max-width: 1024px) {
	.Hero_paragraph {
		font-size: 20px;
	}

	.qr{
		display: none;
	}

	.Store_buttons{
		margin-top: 50px;
	}
}


@media (max-width: 768px) {

	.Hero_logo{
		width: 300px;
		margin-inline: auto;
	}

	.Hero_paragraph {
		font-size: 16px;
	}
}