.navbar {
	position: absolute;
	width: 100%;
	z-index: 1000;
	top: 0;
	transition: all 0.5s;
}

.navbar_toggle {
	display: none;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #ffffff;
	border-radius: 5px;
	transition: all 0.3s;
}

.navbar_toggle:hover {
	background-color: #f0f0f0;
}

.navbar_toggle.active {
	background-color: #f0f0f0;
	transform: scale(0.9);
}

.content__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar_list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.navbar a {
	color: var(--inactive-color);
}

.navbar a:hover {
	color: var(--active-color);
}

.navbar a.active {
	color: var(--active-color);
}

.navbar_lang {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-family: var(--main-font), sans-serif;
	border: 1px solid #ffffff;
	border-radius: 5px;
	padding: 5px 30px;
}

/* Mobile and Tablet Styles */
@media (max-width: 768px) {
	.navbar {
		position: fixed;
		width: 250px;
		height: 100%;
		top: 0;
		left: -250px;
		background-color: #333;
		transition: all 0.3s;
		display: flex;
		flex-direction: column;
	}

	.content__container {
		flex-direction: column;
	}

	.navbar.active {
		left: 0;
	}

	.navbar_lang {
		text-align: center;
		justify-content: center;
		width: 100%;
		padding: 10px 0;
		order: 1;
	}

	.navbar_lang a {
		width: 100%;
		text-align: center;
	}

	.navbar_list {
		width: 100%;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin-top: 30px;
		padding-left: 20px;
		order: 2;
		flex-grow: 1;
	}

	.navbar li a {
		padding: 10px 0;
		width: 100%;
		text-align: left;
	}
}
